* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #c1bdba;
  font-size: 16px;
}

.recuadro {
  margin: 20px auto;
  width: 90%;
  height: 95vh;
  padding: 8px;
  background-color: #25333c;
  box-shadow: 0 0 10px rgba(3, 3, 3, 0.781);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .recuadro {
    width: 430px;
  }
}
.recuadro header {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9f2f9;
}

.recuadro header .icono {
  text-align: center;
  font-size: 2.5rem;
  color: #c1bdba;
}

.recuadro .formulario {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recuadro .formulario .inputs {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recuadro .formulario .inputs .grupo {
  position: relative;
  margin-bottom: 35px;
}

.recuadro .formulario .inputs .grupo input {
  color: #c6c6c6c6;
  font-size: 1rem;
  padding: 6px 6px 6px 2px;
  display: block;
  width: 60%;
  margin: auto;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 0 10px rgba(3, 3, 3, 0.781);
  background-color: #1ab188;
}

@media (min-width: 576px) {
  .recuadro .formulario .inputs .grupo input {
    font-size: 1.2rem;
  }
}
.recuadro .formulario .inputs .grupo input:focus ~ label,
.recuadro .formulario .inputs .grupo input:valid ~ label {
  top: -28px;
  font-size: 14px;
}

.recuadro .formulario .inputs .grupo input:focus ~ .barra::before {
  width: 80%;
}

.recuadro .formulario .inputs .grupo input:focus,
.recuadro .formulario .inputs .grupo input:valid {
  width: 90%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.recuadro .formulario .inputs .grupo:focus {
  outline: none;
  color: #e9f2f9;
}

.recuadro .formulario .inputs .grupo label {
  position: absolute;
  color: #e9f2f9;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

.recuadro .formulario .inputs .grupo .barra {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
}

.recuadro .formulario .inputs .grupo .barra::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0px;
  left: 20px;
  width: 0%;
  background-color: #e9f2f9;
  transition: 1s ease width;
}

.recuadro .formulario .cont_inicio {
  height: 3rem;
  background-color: #1ab188;
  font-size: 1.8rem;
  font-weight: bold;
  color: #e9f2f9;
}

@media (min-width: 576px) {
  .recuadro .formulario .cont_inicio {
    height: 6rem;
  }
}
.recuadro .btn_inferiores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 104px;
  margin-bottom: 10px;
}

.recuadro .formulario .btn_inferiores .cont_sesion {
  flex: 1;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: #44535a;
  color: #c1bdba;
}

.recuadro .btn_inferiores .cont_registro {
  flex: 1;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: #1ab188;
  color: #e9f2f9;
}

.recuadro .recuadro_btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}