// COLORES
$color-texto: #e9f2f9;
$color-fondo: #25333c;
$color-body: #c1bdba;
$color-activado: #1ab188;
$color-boton: #44535a;
$sombras: 0 0 10px rgba(3, 3, 3, 0.781);
$bordes-redondeados: 4px;
$borde: 2px solid rgb(255, 208, 0);

// MEDIA QUERIES
$pequeno: '(min-width: 576px)';
$mediano: '(min-width: 768px)';
$grande: '(min-width: 992px)';
$muy-grande: '(min-width: 1200px)';